@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    line-height: 1.6;
    margin: 0 !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    main.site-content {
        flex-grow: 1;

        section {
            padding: var(--padding) 0;
        }

    }

    a {
        color: var(--text);
        text-decoration: none;

        &:focus {
            color: var(--text);
        }

        &:visited {
            color: var(--light);
        }

    }

    ul, ol, h1, h2, h3, h4, h5, h6, p {

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

    }

    a, button, input, textarea, .slick-slide {
        outline: none !important;
    }

    .slick-list {
        width: 100%;
        overflow: hidden;

        .slick-track {
            display: flex;
            width: 100%;
        }
    }

    .slick-arrow {
        z-index: 3;
        cursor: pointer;
        top: 50%;
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.icon-left {
            left: 0;
            right: auto;
        }

        &.icon-right {
            left: auto;
            right: 0;
        }
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 32px auto 0 0;
        width: 100%;

        li {
            display: flex;
            margin: 0 4px;

            button {
                padding: 0;
                border: none;
                background: var(--border);
                width: 12px;
                height: 12px;
                border-radius: 100%;
                transition: 0.2s;
                cursor: pointer;
                margin: 0 !important;
            }

            &.slick-active {
                button {
                    background: var(--theme);
                }
            }
        }
    }


    ul, ol {
        padding-left: 0;    
    }
    
    .post, .page {
        margin: 0;
    }

    .article {

        & > * {
            margin-top: 0;
            margin-bottom: 24px;
        }

    }

    h1, h2, h3 {
        line-height: 1.4;
    }

    h1 {
        font-size: calc(var(--title) * 4.8);
    }

    h2 {
        font-size: calc(var(--title) * 4);
    }

    h3 {
        font-size: calc(var(--title) * 3.2);
    }

    h4 {
        font-size: calc(var(--title) * 2.4);
    }

    h5 {
        font-size: calc(var(--title) * 2);
    }

    h6 {
        font-size: calc(var(--title) * 1.8);
    }

    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="number"],
    input[type="tel"],
    input[type="range"],
    input[type="date"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="color"],
    textarea {
        display: block;
        width: 100%;
        height: 52px;
        border: 1px solid var(--border);
        border-radius: 2px;
        padding: 0 24px;
        color: var(--text);
        font-size: 18px;
        letter-spacing: 0.5px;
        transition: 0.3s;
        background: #fff;
        appearance: none;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    
        &:focus {
            border-color: var(--focus);
            box-shadow: 0 0 0 3px var(--focus) inset;
        }
    
        &::placeholder {
            color: #999;
        }

        &.phone-mask::placeholder {
            color: var(--text);
        }

        &:hover {
            background: #f9f9f9;
        }
    
    }

    textarea {
        height: auto;
        padding: 11px 24px;           
    }

    .form-group {   
        margin-bottom: 18px;
        width: 100%;

        label {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 14px;
            color: var(--label);
            display: block;
            margin-bottom: 6px;
            position: relative;
            font-weight: 300;
        }

        .error-message {
            margin: 6px 0 0 0;
            font-weight: 300;
            color: var(--red);
            display: none;
            font-size: 14px;
        }

        &.half {
            width: calc(50% - 12px);
        }

        &:last-child {
            margin-bottom: 0;
        }

        &.no-mb {
            margin-bottom: 0;
        }

        .input-wrapper {
            width: 100%;
            position: relative;
            background: #fff;
            transition: 0.3s;

            &:hover {
                background: #f9f9f9;
            }

            &:before {
                position: absolute;
                right: 24px;
                top: 50%;
                transform: translateY(-50%);
                transition: 0.2s;
                font-size: 15px;
                color: #555;
            }

            input {
                cursor: pointer;
                background: none;
                position: relative;
                z-index: 2;
                color: #555;
                opacity: 1 !important;
            }

            .select-dropdown {
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 3;
                padding: 6px 0;
                width: 100%;
                background: #fff;
                border: solid var(--border);
                border-width: 0 1px 1px 1px;
                max-height: 238px;
                overflow: auto;
                display: none;

                .item {
                    overflow: hidden;
                    padding: 10px 24px;
                    font-weight: 300;
                    font-size: 16px;
                    cursor: pointer;

                    &:hover {
                        background: #f6f6f6;
                    }

                    &.selected-item {
                        background: #f6f6f6;

                        &:hover {
                            background: #f1f1f1;
                        }

                    }

                }

            }

            &.focus {

                &:before {
                    transform: translateY(-50%) rotate(180deg);
                }

                input {
                    border-color: var(--focus);
                    box-shadow: 0 0 0 3px var(--focus) inset;
                }

            }

        }

        .radio {

            input {
                display: none;
            }

            label {
                cursor: pointer;
                text-transform: none;
                font-size: 16px;
                color: var(--text);
                margin-bottom: 10px;

                &:before {
                    content: '';
                    width: 18px;
                    height: 18px;
                    border: 1px solid var(--border);
                    border-radius: 100%;
                    background: #fff;
                    transition: 0.2s;
                    display: inline-block;
                    margin-right: 8px;
                    transform: translateY(3px);
                }

                &:hover:before {
                    border-color: var(--focus);
                    box-shadow: 0 0 0 4px var(--focus) inset;
                }

            }

            input:checked + label:before {
                border-color: var(--theme);
                border-width: 5px;
                box-shadow: none;
            }

            &:last-child {

                label {
                    margin: 0;
                }

            }

        }

        &.checkbox {

            input {
                display: none;
            }

            label {
                cursor: pointer;
                text-transform: none;
                font-size: 16px;
                color: var(--text);
                margin: 0;

                &:before {
                    width: 18px;
                    height: 18px;
                    border: 1px solid var(--border);
                    background: #fff;
                    color: transparent;
                    font-size: 12px;
                    transition: 0.2s;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 8px;
                    transform: translateY(-1px);
                }

                &:hover:before {
                    border-color: var(--focus);
                    box-shadow: 0 0 0 3px var(--focus) inset;
                }

            }

            input:checked + label:before {
                border-color: var(--theme);
                background: var(--theme);
                box-shadow: none;
                color: #fff;
            }

        }

        &.error {

            .error-message {
                display: block;
            }

            &.no-error-msg {

                input, textarea {
                    border-color: var(--red);

                    &:focus {
                        border-color: var(--red-light);
                        box-shadow: 0 0 0 3px var(--red-light) inset;
                    }

                }

                .error-message {
                    display: none;
                }

            }

            &.checkbox {

                label {

                    &:before {
                        border-color: var(--red);
                    }

                    &:hover:before {
                        border-color: var(--red-light);
                        box-shadow: 0 0 0 3px var(--red-light) inset;
                    }

                }

            }

            .radio {

                label {

                    &:before {
                        border-color: var(--red);
                    }

                    &:hover:before {
                        border-color: var(--red-light);
                        box-shadow: 0 0 0 4px var(--red-light) inset;
                    }

                }

            }

        }

        &.with-label {
            position: relative;

            .error-message {
                position: absolute;
                margin: 0;
                right: 0;
                top: 0;
            }

        }

    }
    
    .btn {
        display: block;
        background: var(--theme);
        height: 52px;
        width: fit-content;
        border: none;
        color: #fff !important;
        padding: 0;
        cursor: pointer;
        letter-spacing: 1px;
        transition: 0.2s;
        padding: 0 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border-radius: 15px;
        font-size: 15px;

        &.center {
            margin: 0 auto;
        }

        &:hover {
            background: var(--light);
        }

        &:focus {
            box-shadow: 0 0 0 4px var(--theme);
        }

        &:active {
            background: var(--dark);
        }

        &.full {
            width: 100%;
        }

        &.small {
            height: 42px;
            padding: 0 24px;
            font-size: 13px;
        }

    }

    .banner {
        height: 210px;
        box-shadow: 0 0 0 4px var(--light);
        border-radius: 15px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 80px;
        padding: 20px 30px;

        h6 {
            width: 30%;
            text-align: left;
        }

        h5 {
            margin: 0;
        }

        button {
            margin: 0 !important;
        }

        &.price {
            button {
                margin-top: 40px !important;
            }
        }
    }

    .social-networks {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-around;
        width: 144px;
        height: 115px;

        a {
            color: var(--theme);
            cursor: pointer;
            height: 45px;
            margin-right: 20px;

            .network-btn {
                height: 35px;
                width: 35px;
                background: var(--theme);
                border-radius: 50%;
                line-height: 0;
                cursor: pointer;
                border: none;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                padding: 0;
                transition: all 0.2s ease-in-out;

                i {
                    font-size: 17px;
                    color: white;
                    transition: all 0.2s ease-in-out;
                }

                &:hover i {
                    color: rgb(70, 70, 68);
                }
            }

            &:hover {
                color: var(--light);
            }
        }
    }

    .popup {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 228;
        display: none;

        &.error-popup {
            z-index: 13;
        }

        .popup-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            height: 100%;
            width: 100%;

            .popup-blackboard {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                background: rgba(0,0,0,0.8);
            }

            .popup-content {
                background: #fff;
                position: relative;
                z-index: 2;
                width: 540px;
                max-height: 90%;
                overflow: auto;

                .popup-header {
                    padding: 0 32px;
                    display: flex;
                    align-items: center;
                    height: 76px;
                    position: sticky;
                    top: 0;
                    font-size: 22px;
                    border-bottom: 1px solid var(--border);
                    backdrop-filter: blur(42px) saturate(200%);
                    background: rgba(255,255,255,0.65);
                    z-index: 3;

                    .close-popup {
                        padding: 0 32px;
                        font-size: 15px;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        display: flex;
                        align-items: center;
                        transition: 0.3s;
                        cursor: pointer;

                        &:hover {
                            color: var(--red);
                        }

                    }

                }

                .popup-body {
                    padding: 26px 32px 32px;
                    position: relative;
                    z-index: 2;
                    overflow: hidden;

                    &.center {
                        text-align: center;
                    }

                    h4 {
                        font-size: 32px;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size: 16px;
                        font-weight: 300;

                        &.main {
                            text-align: center;
                        }

                    }

                    .link {
                        text-decoration: underline;
                        color: #999;
                        font-weight: 300;
                        cursor: pointer;
                        transition: 0.2s;

                        &:hover {
                            color: var(--theme);
                        }

                    }

                    .code-wrapper {
                        padding: 24px;
                        background: #eceef5;
                        font-size: 14px;
                        font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
                        overflow: auto;
                        display: none;
                    }

                    .icon {
                        font-size: 350px;
                        line-height: 1;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        transform: translate(-20%, 20%);
                        z-index: -1;
                        opacity: 0.1;

                        & > * {
                            display: none;
                        }

                    }
                    
                }

            }

        }

        &.success {

            .success {
                color: var(--green);
                display: block !important;
            }

            button {
                background: var(--green) !important;

                &:hover {
                    opacity: 0.8;
                }

            }

        }

        &.error {

            .error {
                color: var(--red);
                display: block !important;
            }

            button {
                background: var(--red) !important;

                &:hover {
                    opacity: 0.8;
                }

            }

        }

        &.warning {

            .warning {
                color: var(--orange);
                display: block !important;

                &:hover {
                    opacity: 0.8;
                }

            }

            button {
                background: var(--orange) !important;
            }

        }

    }

    .popper-wrapper {
        position: relative;

        .popper {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            z-index: 5;
        
            .popper-content {
                position: relative;
                white-space: nowrap;
                color: #000;
                background: var(--yellow);
                border-radius: 3px;
                display: flex;
                align-items: center;
                flex-direction: column;
                font-size: 13px;
                padding: 3px 8px;
        
                a {
                    font-size: 13px;
                    color: #000;
                    text-decoration: none;
        
                    &:hover {
                        color: #000;
                    }
        
                }
        
            }
            
            &.top {
                bottom: calc(100% + 8px);
        
                .popper-content {
        
                    &:after {
                        content: '';
                        border: 8px solid transparent;
                        border-top: 6px solid var(--yellow);
                        position: absolute;
                        top: 100%;
                        left: 50%;
                        transform: translateX(-50%);
                    }
        
                }
        
            }
        
            &.bottom {
                top: calc(100% + 8px);
        
                .popper-content {
        
                    &:before {
                        content: '';
                        border: 8px solid transparent;
                        border-bottom: 6px solid var(--yellow);
                        position: absolute;
                        bottom: 100%;
                        left: 50%;
                        transform: translateX(-50%);
                    }
        
                }
        
            }
        
        }

    }

    .container {
        max-width: var(--container);
        margin: 0 auto;
    }

    aside.widget-area {

        .aside-content {
            padding-top: var(--padding);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            & > section {
                width: calc((100% / 3) - 24px);
                margin-bottom: var(--padding);

                ul {
                    margin-left: 0;
                    list-style: none;
                }

            }

        }

    }

}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

    body {
        --container: 88vw;
        --title: 8px;
        --padding: 36px;

        .popup {

            .popup-wrapper {

                .popup-content {

                    .popup-header {
                        padding: 0 26px;
                        font-size: 20px;
                        height: 66px;
                    }

                    .popup-body {
                        padding: 26px;
                    }

                }

            }

        }

        aside.widget-area {

            .aside-content {

                & > section {
                    width: 100%;
                }

            }

        }

    }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

    body {
        --container: 500px;
        --title: 8px;
        --padding: 42px;

        
        aside.widget-area {

            .aside-content {

                & > section {
                    width: calc(50% - 24px);
                }

            }

        }

    }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {

    body {
        --container: 700px;
        --title: 8px;
        --padding: 46px;

        aside.widget-area {

            .aside-content {
    
                & > section {
                    width: calc(50% - 24px);
                }
    
            }
    
        }

    }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

    body {
        --container: 900px;
        --title: 9px;
        --padding: 52px;
    }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1599.98px) {

    body {
        --container: 1120px;
        --title: 9px;
    }

}