@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?xw074k');
    src:  url('../fonts/icomoon.eot?xw074k#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?xw074k') format('truetype'),
      url('../fonts/icomoon.woff?xw074k') format('woff'),
      url('../fonts/icomoon.svg?xw074k#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
[class^="icon-"], [class*=" icon-"] {

    &:before {
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
    
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

}

.icon-diploma:before {
  content: "\e933";
}
.icon-medal:before {
  content: "\e934";
}
.icon-cup:before {
  content: "\e935";
}
.icon-stethoscope:before {
  content: "\e900";
}
.icon-medical-folder:before {
  content: "\e901";
}
.icon-left-arrow:before {
  content: "\e902";
}
.icon-right-arrow:before {
  content: "\e903";
}
.icon-down-arrow:before {
  content: "\e904";
}
.icon-up-arrow:before {
  content: "\e905";
}
.icon-heart:before {
  content: "\e906";
}
.icon-heart-solid:before {
  content: "\e907";
}
.icon-star:before {
  content: "\e908";
}
.icon-star-solid:before {
  content: "\e909";
}
.icon-notif:before {
  content: "\e90a";
}
.icon-search:before {
  content: "\e90b";
}
.icon-time:before {
  content: "\e90c";
}
.icon-add:before {
  content: "\e90d";
}
.icon-place:before {
  content: "\e90e";
}
.icon-user:before {
  content: "\e90f";
}
.icon-trash:before {
  content: "\e910";
}
.icon-show:before {
  content: "\e911";
}
.icon-share:before {
  content: "\e912";
}
.icon-internet:before {
  content: "\e913";
}
.icon-edit:before {
  content: "\e914";
}
.icon-options:before {
  content: "\e915";
}
.icon-hide:before {
  content: "\e916";
}
.icon-forward:before {
  content: "\e917";
}
.icon-send:before {
  content: "\e918";
}
.icon-twitter:before {
  content: "\e919";
}
.icon-vk:before {
  content: "\e91a";
}
.icon-facebook:before {
  content: "\e91b";
}
.icon-youtube:before {
  content: "\e91c";
}
.icon-cart:before {
  content: "\e91d";
}
.icon-phone:before {
  content: "\e91e";
}
.icon-email:before {
  content: "\e91f";
}
.icon-whatsapp:before {
  content: "\e920";
}
.icon-close:before {
  content: "\e921";
}
.icon-top:before {
  content: "\e922";
}
.icon-right:before {
  content: "\e923";
}
.icon-bottom:before {
  content: "\e924";
}
.icon-left:before {
  content: "\e925";
}
.icon-close-light:before {
  content: "\e926";
}
.icon-menu:before {
  content: "\e927";
}
.icon-warning:before {
  content: "\e928";
}
.icon-error:before {
  content: "\e929";
}
.icon-success:before {
  content: "\e92a";
}
.icon-check:before {
  content: "\e92b";
}
.icon-plus1:before {
  content: "\e92c";
}
.icon-instagram:before {
  content: "\e92d";
}
.icon-three:before {
  content: "\e92e";
}
.icon-two:before {
  content: "\e92f";
}
.icon-one:before {
  content: "\e930";
}
.icon-four:before {
  content: "\e931";
}
.icon-five:before {
  content: "\e932";
}