:root {
    --theme: rgb(240, 128, 128);
    --dark: #CD5C5C;
    --light: #ff9999;
    --focus: rgba(0, 57, 116, 0.4);
    --yellow: #ffbc00;
    --orange: #c98b00;
    --green: #00966c;
    --red: red;
    --red-light: rgba(255,0,0,0.4);
    --container: 1300px;
    --title: 10px;
    --text: #000;
    --label: #5b6875;
    --border: rgba(0,0,0,0.1);
    --header: 90px;
    --logo-mw: 130px;
    --logo-mh: 70px;
    --padding: 80px;
}