section.first-slide {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .wrapper {
        display: flex;
        justify-content: space-between;

        .first-description {
            width: 45rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                font-size: 44px;
                font-weight: 400;
                margin: 0;
                height: 150px;
            }

            p {
                font-size: 26px;
                width: 100%;
                margin: 0;
            }

            button {
                margin-top: 80px;
            }
        }

        .first-img {
            width: 30rem;
            height: 450px;
            border-radius: 15px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}

section.about {
    .wrapper {
        display: flex;
        justify-content: space-between;

        .about-img {
            width: 30rem;
            height: 450px;
            border-radius: 15px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .about-me {
            h3 {
                font-size: 48px;
                font-weight: 600;
                margin-bottom: 10px;
                color: var(--theme);
            }

            h6 {
                margin: 10px 0;
                font-size: 20px;
                font-weight: 400;
            }

            ul {
                list-style-type: none;
                margin: 50px 0 0 0;
                width: 35rem;

                li {
                    margin-bottom: 40px;
                    display: flex;
                    flex-wrap: wrap;

                    i {
                        font-size: 40px;
                        color: var(--theme);
                        margin-right: 20px;
                        display: flex;
                        align-items: center;
                        text-align: center;
                    }

                    .text {
                        h4 {
                            font-size: 28px;
                            margin: 0;
                        }

                        p {
                            font-size: 18px;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

section.diseases {
    .wrapper {
        text-align: center;

        .title {
            h3 {
                font-size: 36px;
                color: var(--theme);
            }
        }

        .types-deseases {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 15px;
            margin-top: 40px;

            .type {
                display: flex;
                text-align: left;
                width: 300px;
                margin-bottom: 20px;
                padding: 10px 10px 10px 30px;

                border-radius: 15px;
                border: 4px solid var(--theme);

                &:not(:last-child) {
                    margin-right: 40px;
                }

                h6 {
                    margin: 0;
                    font-size: 20px;
                }
            }
        }

        button {
            margin: 30px auto;
        }
    }
}

section.certificate-slider {
    .wrapper {
        display: flex;
        justify-content: space-between;

        .description {
            width: 40%;
            margin-right: 150px;

            h3 {
                font-size: 36px;
                color: var(--theme);
                font-weight: 400;
            }

            h4 {
                margin-bottom: 10px;
            }

            i {
                font-size: 40px;
                color: var(--theme);
                margin-right: 20px;
                display: flex;
                align-items: center;
                text-align: center;
            }

            .text {
                margin-bottom: 40px;

                p {
                    display: flex;
                    align-items: center;
                }
            }
        }

        .certificates {
            width: 40%;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            flex-grow: 1;
            margin: 20px auto;
            justify-content: center;

            .certificate {
                position: relative;
                display: flex;
                align-items: center;
                text-align: center;
                width: 22rem;
                min-height: 200px;
                margin: 0 auto;
                border-radius: 15px;
                background-position: center;
                background-repeat: no-repeat;

                img {
                    width: 100%;
                }
            }
        }
    }
}

section.reviews {
    .wrapper {
        // text-align: center;

        h3 {
            font-size: 36px;
            margin-bottom: 60px;
            color: var(--theme);
            text-align: center;
        }

        .reviews-block {
            width: 100%;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            flex-grow: 1;
            margin: 20px auto;
            justify-content: center;
            padding: 20px 0;

            .review {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 450px;
                height: 350px;
                padding: 20px;
                box-shadow: 0 0 4px 0 var(--theme);
                margin: 20px auto;
                border-radius: 15px;

                .review-header {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 24px;

                    .title {
                        h4 {
                            margin: 0;
                        }

                        p {
                            margin: 0;
                        }
                    }

                    .review-text {
                        text-align: left;
                    }
                }
            }
        }
    }
}

section.questions {
    .wrapper {
        text-align: center;

        h3 {
            font-size: 36px;
            margin-bottom: 60px;
            color: var(--theme);
        }

        .accordion {
            position: relative;
            text-align: left;
            margin-bottom: 140px;

            .accord-item {
                margin-bottom: 2px;

                .accord-header {
                    position: relative;
                    display: block;
                    width: 100%;
                    margin: 0;
                    padding: 20px;
                    color: white;
                    cursor: pointer;
                    background-color: var(--theme);

                    i {
                        position: absolute;
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        right: 20px;

                        &:before,
                        &:after {
                            position: absolute;
                            content: "";
                            width: 16px;
                            height: 3px;
                            background-color: white;
                            transition: transform 250ms ease;
                        }

                        &:before {
                            transform: translate(-5px, 8px) rotate(45deg);
                        }

                        &:after {
                            transform: translate(5px, 8px) rotate(-45deg);
                        }
                    }

                    &:hover {
                        background-color: var(--light);
                    }
                }

                .accord-content {
                    position: relative;
                    padding: 20px;
                    font-size: 14px;
                    display: none;
                    background-color: var(--light);
                }

                &.active {
                    .accord-header {
                        i {
                            &:before {
                                transform: translate(-5px, 8px) rotate(-45deg);
                            }

                            &:after {
                                transform: translate(5px, 8px) rotate(45deg);
                            }
                        }
                    }
                }
            }
        }
    }
}

section.contacts {
    .wrapper {
        display: flex;
        justify-content: space-between;

        .block-form {
            width: 40%;

            h5 {
                font-size: 36px;
                margin: 0;
            }

            p {
                font-size: 18px;
                color: grey;
                margin-bottom: 40px;
            }

            form {
                margin: 100px 0 0 0;
                padding: 0;

                .form-group {
                    margin-bottom: 40px;

                    label {
                        position: absolute;
                        margin-top: -20px;
                        background-color: white;
                        padding: 0 10px 5px;
                        margin-left: 20px;
                        font-size: 16px;
                    }

                    input {
                        height: 70px;
                        width: 80%;
                        border-color: var(--theme);
                        border-radius: 15px;
                        background: transparent;

                        &:focus {
                            outline: none;
                            border-bottom: 2px solid var(--dark);
                        }

                        &:active {
                            outline: none;
                            border-bottom: 0;
                            border-color: var(--theme);
                        }
                    }

                    &.custom-checkbox {
                        display: block;
                        position: relative;
                        margin-bottom: 12px;
                        cursor: pointer;

                        .checkbox-input {
                            padding: 0;
                            margin-bottom: 0;
                            display: none;
                            cursor: pointer;
                            width: 20px;
                            height: 20px;

                            &:checked + .checkbox-label:after {
                                content: "";
                                display: block;
                                position: absolute;
                                top: 2px;
                                left: 10px;
                                width: 6px;
                                height: 14px;
                                border: solid white;
                                border-width: 0 2px 2px 0;
                                transform: rotate(45deg);
                            }

                            &:checked + .checkbox-label:before {
                                background-color: var(--theme);
                            }
                        }

                        .checkbox-label {
                            position: relative;
                            cursor: pointer;
                            padding: 0;
                            font-size: 16px;
                            margin: 0;

                            &:before {
                                content: "";
                                -webkit-appearance: none;
                                background-color: transparent;
                                border: 2px solid var(--theme);
                                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
                                    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
                                padding: 10px;
                                display: inline-block;
                                position: relative;
                                vertical-align: middle;
                                cursor: pointer;
                                margin-right: 15px;
                            }
                        }

                        &.error {
                            .checkbox-label {
                                &:before {
                                    border-color: var(--red);
                                }
                            }
                        }
                    }
                }
            }

            button {
                margin-top: 60px;
            }
        }

        .info {
            display: flex;
            flex-direction: column;

            h5 {
                font-size: 36px;
                margin: 0;
            }

            p {
                font-size: 18px;
            }

            .map {
                height: 300px;

                &:ymaps {
                    height: 100%;
                }
            }
        }
    }
}

#coralcircle {
    position: relative;
    background-color: white;
    box-shadow: 0 0 0 4px var(--dark);
    color: white;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 10px 0 0;
    padding-top: 2px;
    padding-left: 2px;
    top: 40%;
    left: -4.5px;

    #whitecircle {
        position: absolute;
        background-color: white;
        color: var(--dark);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin: 0 auto;
    }
}

@media (max-width: 1599.98px) {
    section.first-slide {
        .wrapper {
            .first-description {
                justify-content: space-between;
                width: 35rem;

                h1 {
                    font-size: 38px;
                }

                p {
                    margin-top: 40px;
                }
            }

            .first-img {
                height: 400px;
            }
        }
    }

    section.about {
        .wrapper {
            display: flex;
            justify-content: space-between;

            .about-me {
                ul {
                    margin: 30px 0;
                }
            }
        }
    }
}

@media (max-width: 1199.98px) {
    section.about {
        .wrapper {
            .about-me {
                margin-left: 40px;

                ul {
                    width: 28rem;

                    li {
                        i {
                            font-size: 35px;
                        }

                        h4 {
                            font-size: 28px;
                        }

                        p {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    section.contacts {
        .wrapper {
            flex-wrap: wrap;

            .block-form {
                width: 100%;
                margin-bottom: 50px;
            }
        }
    }
}

@media (max-width: 991.98px) {
    section.first-slide {
        .wrapper {
            .first-img {
                display: none !important;
            }
        }
    }

    section.about {
        .wrapper {
            .about-img {
                display: none;
            }

            .about-me {
                width: 100%;
            }
        }
    }

    section.certificate-slider {
        .wrapper {
            .certificates {
                width: 90%;

                .certificate {
                    min-height: 300px;
                }
            }
        }
    }
}
