footer.site-footer {
    border-top: 1px solid var(--border);
    padding: 36px 0;

    .footer-top {
        display: flex;
        align-items: center;
        padding-bottom: 36px;
        margin-bottom: 24px;
        border-bottom: 1px solid var(--border);

        .site-branding {
            margin-right: auto;

            a {
                display: flex;

                img {
                    max-width: var(--logo-mw);
                    max-height: var(--logo-mh);
                    width: auto;
                }

            }

        }

        nav {
            display: flex;
            margin-left: auto;
            margin-right: auto;

            ul {
                display: flex;
                margin: 0 auto;

                & > :not(:last-child) {
                    margin-right: 40px;
                }

                li {
                    display: block;
                    list-style-type: none;
                    cursor: pointer;
                    background-image: linear-gradient(var(--theme), var(--light));
                    background-position: 50% 100%;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;
                    transition: background-size 0.3s;
                    padding: 6px 0;

                    a {
                        color: #2c2c2c;
                        font-size: 18px;
                    }

                    &:hover {
                        color: var(--theme);
                        background-size: 100% 3px;
                    }
                }
            }
        }

        .social-networks {
            height: auto;
        }

        .site-menu {

            ul {
                margin: 0;
                list-style: none;
                display: flex;
                align-items: center;

                li {

                    a {
                        padding: 8px 16px;
                        color: var(--text);
                        transition: 0.2s;
    
                        &:hover {
                            color: var(--theme);
                        }
    
                    }
    
                    &.current_page_item {
    
                        a {
                            color: var(--theme);
                        }
    
                    }
    
                }

            }

        }

    }

    .footer-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            position: relative;
            margin: 0;
            display: flex;
            color: black;
            align-items: center;

            p {
                text-transform: uppercase;
                text-align: right;
                margin: 0 !important;
                font-size: 14px;
                font-weight: 500;
            }

            img {
                height: 3.4rem;
                margin-left: 1rem;
            }

            &:hover {
                color: var(--red);
            }
        }

    }

}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

    footer.site-footer {

        .footer-top {
            display: block;

            .site-branding {
                margin: 0 0 24px 0;

                a {
                    justify-content: center;
                }

            }

            .site-menu ul {
                justify-content: center;
                flex-wrap: wrap;
            }

        }

        .footer-bottom {
            flex-direction: column;
            align-items: center;

            p {
                margin-bottom: 6px;

                &:last-child {
                    margin-bottom: 0;
                }

            }

        }

    }

}

@media (max-width: 600px) {

    footer {
        
        #wpadminbar {
            position: fixed;
        }

    }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

    footer.site-footer {

        .footer-top {
            display: block;

            .site-branding {
                margin: 0 0 24px 0;

                a {
                    justify-content: center;
                }

            }

            .site-menu ul {
                justify-content: center;
                flex-wrap: wrap;
            }

        }

    }

}

@media (max-width: 991.98px) {
    footer.site-footer {
    
        .footer-top {

            .site-branding {
                margin: 0 0 20px 0;
    
                a {
                    justify-content: left;
                }
            }

            nav {
                // width: 30%;
                

                ul {
                    flex-direction: column;
                    margin: 0 0 30px 0  ;
                }
            }
        }
    }
}
