header.site-header {
    // border-bottom: 1px solid var(--border);
    // box-shadow: 0 2px 4px rgb(151, 88, 112);

    .header-content {
        display: flex;
        align-items: center;
        height: var(--header);

        .site-branding {
            margin: 0;
            

            a {
                display: flex;
                flex-direction: column;
                color: var(--text);

                img {
                    max-width: var(--logo-mw);
                    max-height: var(--logo-mh);
                    width: auto;
                }

                b {
                    font-size: 32px;
                    color: var(--theme);
                }

                h6 {
                    margin-top: 0px;
                    font-weight: 400;
                }
            }
        }

        nav {
            text-align: center;
            align-items: center;
            display: flex;
            margin-left: auto;
            margin-right: auto;

            ul {
                display: flex;
                margin: 0 auto;

                & > :not(:last-child) {
                    margin-right: 40px;
                }

                li {
                    display: block;
                    list-style-type: none;
                    cursor: pointer;
                    background-image: linear-gradient(var(--theme), var(--light));
                    background-position: 50% 100%;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;
                    transition: background-size 0.3s;
                    padding: 6px 0;

                    a {
                        color: #2c2c2c;
                        font-size: 18px;
                    }

                    &:hover {
                        color: var(--theme);
                        background-size: 100% 3px;
                    }
                }
            }
        }

        .right-block {
            // display: none;

            a {
                color: var(--theme);
                &:hover {
                    color: var(--light);
                }
            }

            .site-menu {
                margin-right: 48px;

                ul {
                    margin: 0;
                    list-style: none;
                    display: flex;
                    align-items: center;

                    li {
                        a {
                            padding: 8px 16px;
                            color: var(--text);
                            transition: 0.2s;

                            &:hover {
                                color: var(--theme);
                            }
                        }

                        &.current_page_item {
                            a {
                                color: var(--theme);
                            }
                        }
                    }
                }
            }

            .language-switcher {
                ul {
                    margin: 0;
                    list-style: none;
                    display: flex;

                    li {
                        margin: 0 5px;

                        a {
                            color: var(--theme);

                            &.active {
                                color: var(--black);
                            }
                        }
                    }
                }
            }
        }

        .open-mobile-menu {
            height: var(--header);
            width: var(--header);
            display: flex;
            align-items: center;
            justify-content: center;
            border: solid var(--border);
            border-width: 0 1px;
            font-size: 24px;
            transition: 0.3s;

            &:hover {
                background: var(--border);
                border-color: transparent;
            }

            &:active {
                background: var(--theme);
                color: #fff;
                border-color: transparent;
            }
        }
    }

    .fixed-sidebar {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        width: 520px;
        z-index: 200;
        box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
        overflow: auto;
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(42px) saturate(200%);
        transform: translateX(105%);

        &.loaded {
            transition: 0.4s;
        }

        &.show {
            transform: none;
        }

        .content {
            display: flex;
            flex-direction: column;
            min-height: 100%;
            padding: 62px;
            position: relative;

            h3 {
                position: relative;

                div {
                    position: absolute;
                    padding: 0 12px;
                    right: -12px;
                    top: 0;
                    bottom: 0;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    transition: 0.3s;

                    &:hover {
                        color: var(--theme);
                    }
                }
            }

            form {
                position: relative;

                .form-group {
                    transition: 0.2s;
                }

                &.show-success {
                    .form-group,
                    .btn {
                        opacity: 0;
                    }
                }
            }

            .btn {
                width: 100%;
            }
        }

        .site-menu {
            ul {
                margin-left: 0;
                list-style: none;

                li {
                    a {
                        display: block;
                        padding: 16px 0;
                        font-size: 20px;
                        border-top: 1px solid rgba(0, 0, 0, 0.1);
                        color: #000;
                        text-decoration: none;
                        transition: 0.2s;

                        &:hover {
                            color: var(--theme);
                        }
                    }
                }

                .btn {
                    width: 100%;
                }
            }
        }

        .rs-contacts-us {
            margin-top: auto;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            padding-top: 24px;

            .item {
                margin-bottom: 32px;

                &:last-child {
                    margin: 0;
                }

                h3 {
                    margin-bottom: 24px;
                }

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                }

                a,
                p {
                    color: #000;
                    font-size: 20px;
                }
            }
        }
    }
}

.admin-bar {
    header.site-header {
        top: 32px;

        .fixed-sidebar {
            top: 32px;
        }
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    header.site-header {
        --logo-mw: 100px;
        --logo-mh: 60px;
        --header: 80px;

        .fixed-sidebar {
            width: 100%;

            .content {
                padding: 28px;
            }
        }
    }

    .admin-bar {
        header.site-header {
            top: 46px;

            .fixed-sidebar {
                top: 46px;
            }
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    header.site-header {
        --logo-mw: 100px;
        --logo-mh: 60px;
        --header: 80px;

        .fixed-sidebar {
            width: 420px;

            .content {
                padding: 42px;
            }
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 991.98px) {
    header.site-header {
        .header-content {
            justify-content: space-between;
            nav {
                display: none;
            }
        }
    }
}

// Показывать мобильное меню
@media (min-width: 992px) {
    header.site-header {
        .header-content {
            justify-content: space-between;
            .open-mobile-menu {
                display: none;
            }

            .right-block {
                display: flex;
                align-items: center;
            }
        }
    }
}
